<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Tokyo</string>
		<key>population</key>
		<string>38,000,000</string>
		<key>country</key>
		<string>Japan</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>tokyo.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Delhi</string>
		<key>population</key>
		<string>25,000,000</string>
		<key>country</key>
		<string>India</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>delhi.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shanghai</string>
		<key>population</key>
		<string>23,500,000</string>
		<key>country</key>
		<string>China</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>shanghai.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mexico City</string>
		<key>population</key>
		<string>21,000,000</string>
		<key>country</key>
		<string>Mexico</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>mexico.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sao Paulo</string>
		<key>population</key>
		<string>21,000,000</string>
		<key>country</key>
		<string>Brazil</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>sao.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mumbai</string>
		<key>population</key>
		<string>21,000,000</string>
		<key>country</key>
		<string>India</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>mumbai.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Osaka</string>
		<key>population</key>
		<string>20,000,000</string>
		<key>country</key>
		<string>Japan</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>osaka.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beijing</string>
		<key>population</key>
		<string>19,000,000</string>
		<key>country</key>
		<string>China</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>beijing.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Newark</string>
		<key>population</key>
		<string>18,500,000</string>
		<key>country</key>
		<string>New York, USA</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>newark.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cairo</string>
		<key>population</key>
		<string>18,500,000</string>
		<key>country</key>
		<string>Egypt</string>
		<key>overview</key>
		<string></string>
		<key>imageName</key>
		<string>cairo.jpg</string>
	</dict>
</array>
</plist>
